* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input[type="text"] {
  padding: 5px;
  margin: 0;
}

button {
  /* border-radius: 10px; */
  padding: 8px;
}
button:hover {
  cursor: pointer;
}


h1 {
  text-align: center;
}
h2 {
  border-radius: 10px 10px 0px 0px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  margin: 0;
  /* border-bottom: solid black 1px; */
}

.container {
  margin: 0 auto;
  width: 80%;
}
.bookmark-list {
  margin-top: 1rem;
}

li {
  border: solid black 1px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.list-title {
  background-color: #abafb5;
}


#bookmark-form input[type="text"] {
  margin: 0 1rem 1rem 0;
}

.ratings-display {
  border-top: solid black 1px;
  padding: 0 1rem;
}
form > .rating-input {
  display: inline-block;
  margin-left: 1rem;
}


.detailed-look button {
  margin-left: 0;
}

fieldset {
  border: 0;
  padding-left: 0;
}

label {
  display: block;
  margin: 30px 0 0 0;
}

.overflow {
  height: 200px;
}


a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 10px;
  border-radius: 20px;
}