* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input[type="text"] {
  padding: .5rem;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 4rem;
  text-align: center;
}
h2 {
  border-radius: 10px 10px 0px 0px;
  font-size: 3rem;
  padding: 1rem 0;
  margin: 0;
}
label {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}


form {
  background-color: #EDEEF0;
  border: solid 1px black;
  border-radius: 5px;
  padding: 1rem;
}

button[type="submit"]{
  font-size: 2rem;
}
button {
  background-color: #FFFFFF;
  font-size: 2rem;
  padding: 8px;
}
a {
  font-size:2rem;
}
input[type="radio"] {
  height: 40px;
  width: 40px;
}
select{
  height: 50px;
  width: 150px;
}
select option {
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.required-message {
  color: red;
}

form input, form textarea {
  border: solid black 1px;
  margin-left: 5px;
  margin-top: 5px;
}

.bookmark-list {
  margin-top: 1rem;
}

li {
  border: solid black 1px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.list-title {
  background-color: #EDEEF0;
  cursor: pointer;
}

.bookmark-element h2 {
  padding-left: 1rem;
}

.add-bookmark-button {
  margin-right: 1rem;
}

.rating-entry {
  display: inline-block;
  margin-top: 1rem;
}

#bookmark-form {
  margin-bottom: 1rem;
}

#bookmark-form input[type="text"] {
  margin: 0 1rem 1rem 0;
}

.ratings-display {
  border-top: solid black 1px;
  padding: 0 1rem;
}
form > .rating-input {
  display: inline-block;
  margin-left: 1rem;
}


.detailed-look button {
  margin-left: 0;
}

fieldset {
  border: 0;
  display: inline;
  padding: 0;
  padding-left: 0;
}

label {
  display: inline-block;
}

.overflow {
  height: 200px;
}


a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  padding: 10px;
  border-radius: 20px;
}

.bookmark-item-delete {
  margin: 0 0 5px 5px;
}

.hide {
  display: none;
}

form > button {
  margin-top: 1rem;
}

#rating-select {
  margin-top: .5rem;
}

footer {
  text-align: center;
  /* margin: 0 auto; */
}

input:focus:required:invalid {
  border: 2px solid red;
}

input:required:valid {
  border: 2px solid black;
}




@media (min-width:992px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  label {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  button[type="submit"] {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
  input[type="radio"] {
    height: 10px;
    width: 10px;
  }

  select {
    height: 40px;
    width: 80px;
  }

  select option {
    font-size: 1rem;
  }
}